aiohttp==3.8.3
aiosignal==1.2.0
asgiref==3.5.2
async-timeout==4.0.2
attrs==22.1.0
cached-property==1.5.2
certifi==2021.5.30
charset-normalizer==2.0.12
click==8.0.3
Django==4.1.1
django-ckeditor==6.5.1
django-cors-headers==3.13.0
django-debug-toolbar==3.6.0
django-elasticsearch-dsl==7.2.2
django-filter==22.1
django-ipware==4.0.2
django-js-asset==1.2.2
django-mptt==0.13.4
django-tags-input==5.1.0
djangorestframework==3.14.0
djangorestframework-recursive==0.1.2
easy-thumbnails==2.8.3
elasticsearch==7.17.6
elasticsearch-dsl==7.4.0
expiringdict==1.2.1
frozenlist==1.3.1
geoip2==4.6.0
gTTS==2.2.3
idna==3.4
iniconfig==1.1.1
mailru-im-bot==0.0.21
maxminddb==2.2.0
monotonic==1.6
multidict==6.0.2
Pillow==9.2.0
pluggy==1.0.0
psycopg2-binary==2.9.1
py==1.10.0
Pygments==2.11.2
pyparsing==2.4.7
python-baseconv==1.2.2
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.7
yarl==1.8.1
zipp==3.5.0
