aiohttp
aiosignal
asgiref
async-timeout
attrs
cached-property
certifi
charset-normalizer
click
dateutils
Django==5.0.6
django-ckeditor
django-cors-headers
django-elasticsearch-dsl
django-filter
django-ipware
django-js-asset
django-mptt
django-opensearch-dsl
django-resized
django_debug_toolbar
djangorestframework
djangorestframework-recursive
easy-thumbnails
et-xmlfile
Events
expiringdict
frozenlist
geographiclib
geoip2
geopy
gTTS
gunicorn
idna
mailru-im-bot
maxminddb
monotonic
multidict
numpy
openpyxl
opensearch-py
packaging
pandas
Pillow
psycopg2-binary
Pygments
python-baseconv
python-dateutil
pytz
requests
six
sqlparse
typing_extensions
urllib3
XlsxWriter
yarl
